<h1>About</h1>
<p>Private Events is a simple web app project for <a href="http://www.theodinproject.com/ruby-on-rails/associations">The Odin Project</a> to demonstrate Ruby on Rails Associations.</p>
<p>The web app is intented to mimic features from <a href="http://www.eventbrite.com">Eventbrite</a>.</p>
<p>You can view the Private Event source code on <a href="https://github.com/thomasjnoe/private-events">Github</a>.
