<div class="row">
  <div class="col-sm-6 events">
    <h2>Upcoming Events</h2>
    <% @upcoming_events.each do |event| %>
    	<%= render 'shared/event_card', object: event %>
    <% end %>
    <p><%= link_to "See More Events", events_path, class: "btn btn-default" %></p>
  </div>
  <div class="col-sm-6 events">
    <h2>Past Events</h2>
    <% @past_events.each do |event| %>
    	<%= render 'shared/event_card', object: event %>
    <% end %>
    <p><%= link_to "See More Events", events_path, class: "btn btn-default" %></p>
  </div>
</div>
