<div class="row">
  <div class="col-sm-6 events">
    <h2>Upcoming Events</h2>
    <a href="#">
      <div class="event-card">
        <h3 class="event-name">Event Name</h3>
        <p class="event-host">Hosted by: Host</p>
        <p>Date</p>
        <p>Location</p>
        <p>Attendees: #</p>
      </div>
    </a>
    <a href="#">
      <div class="event-card">
        <h3 class="event-name">Event Name</h3>
        <p class="event-host">Hosted by: Host</p>
        <p>Date</p>
        <p>Location</p>
        <p>Attendees: #</p>
      </div>
    </a>
    <a href="#">
      <div class="event-card">
        <h3 class="event-name">Event Name</h3>
        <p class="event-host">Hosted by: Host</p>
        <p>Date</p>
        <p>Location</p>
        <p>Attendees: #</p>
      </div>
    </a>
    <p><a class="btn btn-default" href="#" role="button">See More &raquo;</a></p>
  </div>
  <div class="col-sm-6 events">
    <h2>Past Events</h2>
    <a href="#">
      <div class="event-card">
        <h3 class="event-name">Event Name</h3>
        <p class="event-host">Hosted by: Host</p>
        <p>Date</p>
        <p>Location</p>
        <p>Attendees: #</p>
      </div>
    </a>
    <a href="#">
      <div class="event-card">
        <h3 class="event-name">Event Name</h3>
        <p class="event-host">Hosted by: Host</p>
        <p>Date</p>
        <p>Location</p>
        <p>Attendees: #</p>
      </div>
    </a>
    <a href="#">
      <div class="event-card">
        <h3 class="event-name">Event Name</h3>
        <p class="event-host">Hosted by: Host</p>
        <p>Date</p>
        <p>Location</p>
        <p>Attendees: #</p>
      </div>
    </a>
    <p><a class="btn btn-default" href="#" role="button">See More &raquo;</a></p>
  </div>
</div>
