<div class="jumbotron">
  <div class="container">
    <h1>Simple, easy event management</h1>
    <p>Create and manage your private events with a smooth and effortless interface</p>
    <p><%= link_to "Create an Event", new_event_path, class: "btn btn-primary btn-lg" %></p>
  </div>
</div>